::placeholder{
    font-weight: 400;
    
}

.shadow-button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.shadow-button:hover {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.shadow-button:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

@media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }