@media screen and (max-width:769px){
    .body{
        justify-content: center;
        align-items: center;
    }
    .title-heading{
        text-align: center;
        margin-bottom: 8px;
    }

    .des{
        text-align: center;
        width:100%;
    }
  
    .sub{
        margin-left: 50px;
    }
    .recipe-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .img,.times,.Ing,.sts,.nutri,.reviews{
        width: 90%;
    }
    .times-card{
        width:50%;
        padding: 0px;
    }
    .nutri-child{
        flex-direction: column;
        
    }
    .left-div,.right-div{
        width: 100%;
    }
    .pot{
        border-bottom: 2px #E5E7EB solid;
    }

    .usr{
        margin-left: 0px;
    }
}
